body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header styles*/

header {
    background: #1f2937;
    padding: 0 50px;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    height: 40px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*Hero styles*/

.hero-section {
    background: #1f2937;
    padding: 50px 50px 100px 50px;
}

.hero-container {
    display: flex;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    color: #f9Faf8;
    width: 0%;
    margin: 0 auto;
    flex: 1 1 0;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: -25px;
}

.hero-img {
    display: flex;
    flex: 1 1 0;
    width: 50%;
}

.sign-up {
   background: #3882f6; 
   border-radius: 8px;
   border: none;
   padding: 5px 20px;
   color: #fff;
   font-weight: 600;
   cursor: pointer;
}

/*Options section*/

.options-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 10px 50px 50px 50px;
    margin: 0 auto;
}

#option-title {
    text-align: center;
}

.option-imgs {
display: flex;
gap: 25px;
}

.option-img {
    flex: 1 1 auto;
    width: 10%;
}